# Python
__pycache__/
*.pyc

# Virtual Environments
venv/
.venv/

# Cache
.pytest_cache/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Dataset
dataset/candidates.jsonl

# Development scripts
dev/